<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

       <!--<aop:config>-->
              <!--<aop:aspect id="log" ref="logging">-->
                     <!--<aop:pointcut id="selectALL" expression="execution(* com.atlantis.code.*.*(..))"/>-->
                     <!--<aop:before method="beforeAdvice" pointcut-ref="selectALL"/>-->
                     <!--<aop:after method="afterAdvice" pointcut-ref="selectALL"/>-->
                     <!--<aop:after-returning method="afterReturningAdvice" pointcut-ref="selectALL" returning="retVal"/>-->
                     <!--<aop:after-throwing method="AfterThrowingAdvice" pointcut-ref="selectALL" throwing="ex"/>-->
              <!--</aop:aspect>-->
       <!--</aop:config>-->
       <!--<aop:aspectj-autoproxy/>-->

       <!--<bean id="student" class="com.atlantis.code.Student">-->
              <!--<property name="age" value="18"/>-->
              <!--<property name="name" value="atlantis 666"/>-->
       <!--</bean>-->

       <!--<bean id="logging" class="com.atlantis.code.Logging">-->

       <!--</bean>-->

       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
              <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
              <property name="url" value="jdbc:mysql://127.0.0.1:3306/learn?autoReconnect=true&amp;useSSL=false"/>
              <property name="username" value="root"/>
              <property name="password" value="root"/>
       </bean>

       <!--<bean id="studentJDBCTemplate" class="com.atlantis.code.StudentJDBCTemplate">-->
              <!--<property name="dataSource" ref="dataSource"/>-->
              <!--&lt;!&ndash;<property name="platformTransactionManager" ref="transactionManager"/>&ndash;&gt;-->
       <!--</bean>-->
       <bean id="studentJDBCTemplate" class="com.atlantis.code.StudentJDBCTemplate">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <tx:advice id="txAdvice" transaction-manager="transactionManager">
              <tx:attributes>
                     <tx:method name="create"/>
              </tx:attributes>
       </tx:advice>
       <aop:config proxy-target-class="true">
              <aop:pointcut id="createOption" expression="execution(* com.atlantis.code.StudentJDBCTemplate.create(..))"/>
              <aop:advisor advice-ref="txAdvice" pointcut-ref="createOption"/>
       </aop:config>



       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource"></property>
       </bean>



</beans>